/* all */
* {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

html {
  font-size: 1.75vh;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* body */
body {
    margin: 0 0 0 0;
    padding-left: 10px;
    padding-right: 10px; 
}

/* header */
header {
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    display: flex; 
    flex-wrap: wrap;
    height: auto; 
    padding: 10px 10px 10px 10px; 
    /* border: 1px solid red; */
    background-color: white;
}

/* main */
main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px; 
}

/* footer */
footer {
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    height: auto; 
    padding: 10px 10px 10px 10px; 
    /* border: 1px solid red; */
}

/* logo */
#visual_logo {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 70px;
    min-width: 50px;
    min-height: 35px;
    background-color: hsla(0, 0%, 0%, 0);
    padding: none;
    border-style: none;
    border-color: none;
    border-width: 0px;
    border-radius: 0px; 
    justify-self: center;
    align-self: center;
}

/* logo */
#text_logo {
    position: relative;
    display: flex;
    height: auto;
    font-size: 2rem;
}

/* nav */
nav {
    position: relative;
    display: flex; 
    flex-wrap: none;
    height: auto;
    width: 100%;
    background-color: rgba(200, 200, 200, 1);
    padding: 10px 10px 10px 10px; 
    border-radius: 10px; 
    /* border: 1px solid red; */
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.nav_item {
    position: relative; 
    display: flex; 
    flex-wrap: wrap;
    height: auto;
    width: auto;
    background-color: blue; 
    border: 1px solid hsl(0%, 0%, 100%); 
    border-radius: 7px;
    padding: 5px 5px 5px 5px; 
    align-content: center;
    justify-content: center;
    text-justify: center;
    text-align: center;
    cursor: pointer;
    font-size: 20;
    text-decoration: none; 
    color: hsl(0, 0%, 100%);
}

.nav_item:hover {
    position: relative; 
    display: flex; 
    flex-wrap: wrap;
    height: auto;
    width: auto;
    background-color: red; /* add wide gamut */ 
    border: 1px solid hsl(0%, 0%, 100%); 
    border-radius: 7px;
    padding: 5px 5px 5px 5px; 
    align-content: center;
    justify-content: center;
    text-justify: center;
    text-align: center;
    cursor: pointer;
    font-size: 20;
    text-decoration: none; 
    color: blue;
}

.nav_item:active {
    position: relative; 
    display: flex; 
    flex-wrap: wrap;
    height: auto;
    width: auto;
    background-color: yellow; /* add wide gamut v2 */ 
    border: 1px solid hsl(0%, 0%, 100%); 
    border-radius: 7px;
    padding: 5px 5px 5px 5px; 
    align-content: center;
    justify-content: center;
    text-justify: center;
    text-align: center;
    cursor: pointer;
    font-size: 20;
    text-decoration: none; 
    color: blue;
}

/* nav - smaller devices */
@media screen and (max-width: 650px) {
    nav {
        position: relative;
        display: flex; 
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        background-color: rgba(200, 200, 200, 1);
        padding: 10px 10px 10px 10px; 
        border-radius: 10px; 
        /* border: 1px solid red; */
        align-content: center;
        justify-content: center;
        gap: 10px;
    }
    .nav_item {
        flex-wrap: none;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
    }
}

/* section */
section {
    position: relative; 
    display: block;
    border-radius: 10px;
    background-color: #fff;
    background-color: rgb(245, 235, 0);
    height: auto; 
    width: 100%;
    margin-top: 0; 
    margin-bottom: 0; 
    margin-left: 0; 
    margin-right: 0; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px; 
    padding-right: 10px; 
}

/* section - content; not header */
section div {
    font-size: 1rem; 
}

/* section - media */
#media-section > .contents {
    position: relative;
    display: grid;
    grid-template-areas: img, audio, video; 
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
}

/* section - media */
#media-section img, #media-section video, #media-section audio {
    position: relative; 
    display: flex;
}

/* section - media */
#media-section img, #media-section video, #media-section audio {
    position: relative; 
    display: flex;
}
